body{
margin:0;
font-family:Arial;
background:#0B0B0B;
color:white;
}

.sidebar{

width:220px;
height:100vh;
background:#111827;
position:fixed;
padding:20px;

}

.sidebar a{

display:block;
color:white;
text-decoration:none;
margin:15px 0;

}

.content{

margin-left:240px;
padding:40px;

}

.cards{

display:grid;
grid-template-columns:repeat(3,1fr);
gap:20px;

}

.card{

background:#1f2937;
padding:30px;
border-radius:10px;

}
