body{

background:#0B0B0B;
font-family:Arial;
color:white;
display:flex;
justify-content:center;
align-items:center;
height:100vh;

}

form{

background:#111827;
padding:40px;
border-radius:12px;
width:350px;
text-align:center;

}

input{

width:100%;
padding:12px;
margin-top:10px;
border:none;
border-radius:6px;

}

button{

margin-top:15px;
padding:12px;
width:100%;
background:#00E6FF;
border:none;
border-radius:20px;

}
